<header>
  <div class="todo-header">
    <div class="logo-div">
      <img src="/img/digitalwines-transparent.png" class="logo-header" />
    </div>
    <div class="explorador">
      <nav class="nav-explorer-header">
        <ul class="lista">
          <li>
            <a href="/"><strong>Inicio</strong></a>
          </li>
          <li>
            <a href="#"><strong>Tienda</strong></a>
          </li>
          <li>
            <a href="/about-us"><strong>Sobre nosotros</strong></a>
          </li>
          <li>
            <a href="#"><strong>Contacto</strong></a>
          </li>
        </ul>
      </nav>

      <nav class="nav-utility-header">
        <ul class="lista">
          <li>
            <a href="/login" class="nav-icon"><i class="fas fa-user"></i></a>
          </li>
          <li>
            <a href="/productCart" class="nav-icon"
              ><i class="fas fa-shopping-cart"></i
            ></a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="burger-menu">
    <i class="fas fa-bars"></i>
  </div>
</header>
