<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Digital Wines - Inicio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="/css/styles-about-us.css"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link href="/css/normalize.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/86df6f0eff.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <header>
      <div class="todo-header">
        <div class="logo-div">
          <img src="/img/digitalwines-transparent.png" class="logo-header" />
        </div>
        <div class="explorador">
          <nav class="nav-explorer-header">
            <ul class="lista">
              <li>
                <a href="/"><strong>Inicio</strong></a>
              </li>
              <li>
                <a href="#"><strong>Tienda</strong></a>
              </li>
              <li>
                <a href="#"><strong>Sobre nosotros</strong></a>
              </li>
              <li>
                <a href="#"><strong>Contacto</strong></a>
              </li>
            </ul>
          </nav>

          <nav class="nav-utility-header">
            <ul class="lista">
              <li>
                <a href="/login" class="nav-icon"
                  ><i class="fas fa-user"></i
                ></a>
              </li>
              <li>
                <a href="/productCart" class="nav-icon"
                  ><i class="fas fa-shopping-cart"></i
                ></a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="burger-menu">
        <i class="fas fa-bars"></i>
      </div>
    </header>

    <main>
      <section>
        <div class="frase">
          <p>
            «Un buen vino es como una buena película: dura un instante y te deja
            en la boca un sabor a gloria; es nuevo en cada sorbo y, como ocurre
            con las películas, nace y renace en cada saboreador.» Federico
            Fellini
          </p>
        </div>
        <DIv class="MAIN-ABOUT">
        <div class="historia">
            <h4 class="TITULO-HISTORIA">HISTORIA</h4>
            <P class="parrafo-historia">
                Su fundador D.W., se dedicó desde pequeño al trabajo cultural de los viñedos, siguiendo las costumbres de sus padres y abuelos provenientes de Italia en 1915. Tras largos años de espera y con mucho esfuerzo, en el año 2004 logra construir la Bodega.
D. posee un espíritu incansable por el trabajo cotidiano de las labores culturales en los viñedos. Su día comienza desde muy temprano, siguiendo la cultura de trabajo familiar, para aprovechar al máximo la jornada y poder brindar todo su esfuerzo a esa planta tan noble que es la cepa.
Esta casa vinícola, es una Bodega Familiar que tiene la garantía de sus propios dueños, por el seguimiento personalizado, la profesionalidad y la seriedad con la que se elaboran los productos, cuyo objetivo es maximizar la calidad.
            </P>
            <img class="imagen-historia" src="" alt="">
        </div>
        <div class="bodega">
            <h4 class="titulo-bodega"> BODEGA</h4>
            <P class="parrafo-bodega">
                La cosecha manual de las uvas se realiza en el mes de Abril, en cajas de 18 kgrs., cuando la madurez fisiológica de las uvas llega a su máxima expresión. El protocolo de elaboración reúne técnicas y tecnología apropiada para realizar, año a año, un trabajo de calidad que incluye la higiene minuciosa de la bodega. Y los cuidados prodigados a las uvas en todo el proceso son los que marcan el destino en el que nos embarcamos cuando decidimos hacer nuestro vino.
                La bodega se transforma en una sinfonía de aromas, sonidos y texturas que intentan dar vida al vino que aún no esta, el trabajo continuo y la pasión que en ello ponemos logra en pocos días, perfilar el vino que soñamos durante un año.
                Los racimos se seleccionan a mano. Luego se despalillan en una máquina despalilladora sin rodillos de apriete, totalmente construida en acero inoxidable marca VASLIN BOUCHER de origen Francés. Se seleccionan los granos. De inmediato se extraen los restos de raquis y las hojas que hubieran pasado el primer control. Un alto porcentaje de los granos irá entero al encubado de fermentación que se realiza en tanques de AISI 304 y 316 construidos especialmente para la fermentación de uvas tintas.
                En estas vasijas se producirá la fermentación de los azúcares o fermentación primaria de las uvas, durante diez días aproximadamente. Para el inicio de la fermentación se siembran levaduras seleccionadas adicionadas de nutrientes, se ajusta la acidez total y el proceso comienza prácticamente de inmediato, se interviene diariamente en cada tanque con remontajes abiertos y cerrados, pisoneo manual de las uvas cuando se ha conformado el “sombrero” y en el momento adecuado se procede a realizar un delestage que equilibrará sensiblemente la cinética de fermentación.
                Al final de la fermentación primaria y de forma espontánea comienza una segunda fermentación conocida como FML (fermentación maloláctica) la cual se realizara en tanques para nuestros vinos jóvenes o en barriles en los de crianza. Es debido a la FML que nuestros vinos desarrollarán complejidad y volumen de boca, como así también los aromas reflejarán las cualidades intrínsecas de los precursores aromáticos de cada variedad. A partir de esta fase, los colores se tornan intensos y la estructura del vino se troca en dulces y prolongados taninos que perduran en boca invadiendo los sentidos.
                Es en este momento, cuando han transcurrido treinta días de encube, que procedemos al desvine y al prensado de los orujos este ultimo realizado con una prensa neumática marca WILLMES, origen ALEMANIA.El vino respira su primer bocanada de aire otoñal, la viña lo mira desde el ocre intenso de sus hojas ralas. En poco más de veinte días se trasiega con un poco de borras finas a reposar en roble su sueño de invierno, despertando de a ratos por el battonage semanal pautado.
                Las barricas francesas y el silencio de la bodega serán su cuna y su música por un año, el final esperado será llegar a la luz de la copa del consumidor, con un vino crecido, robusto y poderoso, elegante y distinguido, como el día que soñamos, con un racimo en la mano, como sería nuestro mejor vino..
            </P>
            <img src="/img/bodega.jpg" alt="" class="imagen-bodega">


        </div>
        <div class="viñedos">
            <h4 class="titulo-viñedos"> VIÑEDOS</h4>
            <P class="parrafo-viñedo">
                La cosecha manual de las uvas se realiza en el mes de Abril, en cajas de 18 kgrs., cuando la madurez fisiológica de las uvas llega a su máxima expresión. El protocolo de elaboración reúne técnicas y tecnología apropiada para realizar, año a año, un trabajo de calidad que incluye la higiene minuciosa de la bodega. Y los cuidados prodigados a las uvas en todo el proceso son los que marcan el destino en el que nos embarcamos cuando decidimos hacer nuestro vino.
                La bodega se transforma en una sinfonía de aromas, sonidos y texturas que intentan dar vida al vino que aún no esta, el trabajo continuo y la pasión que en ello ponemos logra en pocos días, perfilar el vino que soñamos durante un año.
                Los racimos se seleccionan a mano. Luego se despalillan en una máquina despalilladora sin rodillos de apriete, totalmente construida en acero inoxidable marca VASLIN BOUCHER de origen Francés. Se seleccionan los granos. De inmediato se extraen los restos de raquis y las hojas que hubieran pasado el primer control. Un alto porcentaje de los granos irá entero al encubado de fermentación que se realiza en tanques de AISI 304 y 316 construidos especialmente para la fermentación de uvas tintas.
                En estas vasijas se producirá la fermentación de los azúcares o fermentación primaria de las uvas, durante diez días aproximadamente. Para el inicio de la fermentación se siembran levaduras seleccionadas adicionadas de nutrientes, se ajusta la acidez total y el proceso comienza prácticamente de inmediato, se interviene diariamente en cada tanque con remontajes abiertos y cerrados, pisoneo manual de las uvas cuando se ha conformado el “sombrero” y en el momento adecuado se procede a realizar un delestage que equilibrará sensiblemente la cinética de fermentación.
                Al final de la fermentación primaria y de forma espontánea comienza una segunda fermentación conocida como FML (fermentación maloláctica) la cual se realizara en tanques para nuestros vinos jóvenes o en barriles en los de crianza. Es debido a la FML que nuestros vinos desarrollarán complejidad y volumen de boca, como así también los aromas reflejarán las cualidades intrínsecas de los precursores aromáticos de cada variedad. A partir de esta fase, los colores se tornan intensos y la estructura del vino se troca en dulces y prolongados taninos que perduran en boca invadiendo los sentidos.
                Es en este momento, cuando han transcurrido treinta días de encube, que procedemos al desvine y al prensado de los orujos este ultimo realizado con una prensa neumática marca WILLMES, origen ALEMANIA.El vino respira su primer bocanada de aire otoñal, la viña lo mira desde el ocre intenso de sus hojas ralas. En poco más de veinte días se trasiega con un poco de borras finas a reposar en roble su sueño de invierno, despertando de a ratos por el battonage semanal pautado.
                Las barricas francesas y el silencio de la bodega serán su cuna y su música por un año, el final esperado será llegar a la luz de la copa del consumidor, con un vino crecido, robusto y poderoso, elegante y distinguido, como el día que soñamos, con un racimo en la mano, como sería nuestro mejor vino..
            </P>
            <img src="/img/viñedo.jpg" alt="" class="imagen-viñedo">


        </div>
    </DIv>
    </main>
    <footer>
      <div class="newsletter">
        <h4>Newsletter</h4>

        <input type="search" />
        <button type="submit">Suscribirse</button>
      </div>
      <div class="pie-pagina">
        <div class="div-logo-footer">
          <img src="/img/digitalwines-transparent.png" class="logo-footer" />
        </div>

        <div class="footer-flex">
          <nav class="nav-explorer-footer">
            <ul class="lista">
              <li><a href="#">Tienda</a></li>
              <li><a href="#">Sobre nosotros</a></li>
              <li><a href="#">Contacto</a></li>
            </ul>
          </nav>

          <nav class="nav-utility-footer">
            <ul class="lista">
              <li>
                <a href="#"><i class="fab fa-whatsapp"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-facebook"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-instagram"></i></a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </footer>
  </body>
</html>