<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Digital Wines - Inicio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="/css/styles.css"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link href="/css/normalize.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <header>
      <div>
        <img src="/img/digitalwines-transparent.png" class="logo-header" />
      </div>

      <nav>
        <ul class="nav-explorer-header">
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Tienda</a></li>
          <li><a href="#">Sobre nosotros</a></li>
          <li><a href="#">Contacto</a></li>
        </ul>
      </nav>

      <nav>
        <ul class="nav-utility-header">
          <li>
            <a href="#"><i class="fas fa-user"></i></a>
          </li>
          <li>
            <a href="#"><i class="fas fa-shopping-cart"></i></a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quod
      similique, repudiandae magnam minus saepe laboriosam debitis sint quia,
      architecto in eum optio aut. Sit sed ullam nostrum ea recusandae. Lorem
      ipsum dolor sit amet consectetur adipisicing elit. Ipsum, aperiam et,
      totam nostrum asperiores alias libero in neque nam ut dolores consectetur?
      Eos iure pariatur corporis accusantium hic voluptates tempora! Lorem ipsum
      dolor sit amet consectetur, adipisicing elit. Pariatur minima delectus, id
      illum rem perspiciatis doloribus odio assumenda labore expedita, mollitia
      quo tempora deserunt? Provident cupiditate impedit ea laboriosam earum.
    </main>
    <footer>
      <div class="newsletter">
        <h4>Newsletter</h4>
        <input type="search" />
        <button type="submit">Suscribirse</button>
      </div>
      <div>
        <img src="/img/digitalwines-transparent.png" class="logo-footer" />
      </div>

      <nav>
        <ul class="nav-explorer-footer">
          <li><a href="#">Tienda</a></li>
          <li><a href="#">Sobre nosotros</a></li>
          <li><a href="#">Contacto</a></li>
        </ul>
      </nav>

      <nav>
        <ul class="nav-utility-footer">
          <li>
            <a href="#"><i class="fab fa-whatsapp"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-facebook"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-instagram"></i></a>
          </li>
        </ul>
      </nav>
    </footer>
  </body>
</html>
