<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Digital Wines - Inicio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="/css/styles.css"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link href="/css/normalize.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/86df6f0eff.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <%- include ("partials/header") %>

    <main>
      <section>
        <div class="frase">
          <p>
            «Un buen vino es como una buena película: dura un instante y te deja
            en la boca un sabor a gloria; es nuevo en cada sorbo y, como ocurre
            con las películas, nace y renace en cada saboreador.» Federico
            Fellini
          </p>
        </div>
        <div class="productos">
          <article class="VINOS">
            <a href="/productdetail/1">
              <img
                class="imagen-producto"
                src="/img/red-wine-4813262_640.jpg"
                alt=""
              />
              <div class="descripcion-articulo">
                <i class="fa-solid fa-wine-bottle"></i>
                <p class="precio">$2000</p>
                <p class="descuento">40% OFF</p>
                <h4 class="titulo">GRAN RESERVA MALBEC</h4>
              </div>
            </a>
          </article>
          <article class="VINOS">
            <a href="/productdetail/1">
              <img
                class="imagen-producto"
                src="/img/red-wine-4813262_640.jpg"
                alt=""
              />
              <div class="descripcion-articulo">
                <i class="fa-solid fa-wine-bottle"></i>
                <p class="precio">$2000</p>
                <p class="descuento">40% OFF</p>
                <h4 class="titulo">GRAN RESERVA MALBEC</h4>
              </div>
            </a>
          </article>
          <article class="VINOS">
            <a href="/productdetail/1">
              <img
                class="imagen-producto"
                src="/img/red-wine-4813262_640.jpg"
                alt=""
              />
              <div class="descripcion-articulo">
                <i class="fa-solid fa-wine-bottle"></i>
                <p class="precio">$2000</p>
                <p class="descuento">40% OFF</p>
                <h4 class="titulo">GRAN RESERVA MALBEC</h4>
              </div>
            </a>
          </article>
        </div>
      </section>
    </main>

    <%- include ("partials/footer") %>

    <!--     <footer>
      <div class="newsletter">
        <h4>Newsletter</h4>

        <input type="search" />
        <button type="submit">Suscribirse</button>
      </div>
      <div class="pie-pagina">
        <div class="div-logo-footer">
          <img src="/img/digitalwines-transparent.png" class="logo-footer" />
        </div>

        <div class="footer-flex">
          <nav class="nav-explorer-footer">
            <ul class="lista">
              <li><a href="#">Tienda</a></li>
              <li><a href="/about-us">Sobre nosotros</a></li>
              <li><a href="#">Contacto</a></li>
            </ul>
          </nav>

          <nav class="nav-utility-footer">
            <ul class="lista">
              <li>
                <a href="#"><i class="fab fa-whatsapp"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-facebook"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-instagram"></i></a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </footer> -->
  </body>
</html>
