<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="/css/styles-productdetail.css"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link href="/css/normalize.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/86df6f0eff.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <header>
      <div class="todo-header">
        <div class="logo-div">
          <img src="/img/digitalwines-transparent.png" class="logo-header" />
        </div>
        <div class="explorador">
          <nav class="nav-explorer-header">
            <ul class="lista">
              <li>
                <a href="#"><strong>Inicio</strong></a>
              </li>
              <li>
                <a href="#"><strong>Tienda</strong></a>
              </li>
              <li>
                <a href="/about-us"><strong>Sobre nosotros</strong></a>
              </li>
              <li>
                <a href="#"><strong>Contacto</strong></a>
              </li>
            </ul>
          </nav>

          <nav class="nav-utility-header">
            <ul class="lista">
              <li>
                <a href="#" class="nav-icon"><i class="fas fa-user"></i></a>
              </li>
              <li>
                <a href="#" class="nav-icon"
                  ><i class="fas fa-shopping-cart"></i
                ></a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="burger-menu">
        <i class="fas fa-bars"></i>
      </div>
    </header>

    <main>
      <section class="main-product-section">
        <div class="main-product">
         <div class="product-image-div">
            <img src="/img/wine-bottle.png" class="product-image" />
        </div>
          <div class="product-text">
            <h2 class="product-title">Nombre del Producto</h2>
            <h3 class="product-price">$9,999</h4>
            <h4 class="product-description">Descripcion del producto</h6>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi
              officia aperiam hic repellendus sit inventore suscipit qui vel,
              minima iusto cum aliquid, obcaecati, non ipsa molestias libero
              sunt quam nemo.
            </p>
          </div>
        </div>
      </section>

      <section class="related-products-section">
            <h3 class="related-products-text">Productos relacionados</h3>

        <div class="related-products-imgs">
            <container class="related-products-imgs-container">
                <img src="/img/wine-bottle.png" class="related-img">
                <p class="related-products-tag">
                    <strong>Nombre</strong>
                    $9,999
                </p>
            </container>
            <container class="related-products-imgs-container">
                <img src="/img/wine-bottle.png" class="related-img">
                <p class="related-products-tag">
                    <strong>Nombre</strong>
                    $9,999
                </p>
            </container>
            <container class="related-products-imgs-container">       
                <img src="/img/wine-bottle.png" class="related-img">
                <p class="related-products-tag">
                    <strong>Nombre</strong>
                    $9,999
                </p>
            </container>
            <container class="related-products-imgs-container">
                <img src="/img/wine-bottle.png" class="related-img">
                <p class="related-products-tag">
                    <strong>Nombre</strong>
                    $9,999
                </p>
            </container>
        </div>
      </section>
    </main>

    <footer>
      <div class="newsletter">
        <h4>Newsletter</h4>

        <input type="search" />
        <button type="submit">Suscribirse</button>
      </div>
      <div class="pie-pagina">
        <div class="div-logo-footer">
          <img src="/img/digitalwines-transparent.png" class="logo-footer" />
        </div>

        <div class="footer-flex">
          <nav class="nav-explorer-footer">
            <ul class="lista">
              <li><a href="#">Tienda</a></li>
              <li><a href="#">Sobre nosotros</a></li>
              <li><a href="#">Contacto</a></li>
            </ul>
          </nav>

          <nav class="nav-utility-footer">
            <ul class="lista">
              <li>
                <a href="#"><i class="fab fa-whatsapp"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-facebook"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-instagram"></i></a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </footer>
  </body>
</html>
