* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
  }
  
  .body {
    font-family: "Montserrat", sans-serif;
    background-color: rgba(199, 184, 157, 0.616);
  }
  
  /*HEADER*/
  .todo-header {
    background-image: url(../img/barricas2.png);
    background-size: cover;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    width: 100%;
  }
  
  .logo-div {
    width: 9%;
  }
  
  .logo-header {
    width: 100%;
  }
  
  .explorador {
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding: 5px;
  }
  
  .nav-explorer-header {
    display: none;
    align-self: center;
  }
  
  .nav-explorer-header ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 5px;
    margin-left: 20px;
    font-weight: 500;
    font-size: 18px;
    transition: color 0.3s
  }
  
  .nav-explorer-header ul li a:hover {
    color:#868686
  }
  
  .nav-utility-header ul li a {
    color: rgb(10, 10, 10);
    text-decoration: none;
    padding: 5px;
    border: none;
    transition: color 0.3s
  }
  
  .nav-utility-header ul li a:hover {
    color: rgb(65, 64, 64);
  }
  
  .nav-icon i {
    font-size: 25px;
  }
  
  .nav-utility-header {
    align-self: center;
    justify-self: end;
    margin-right: 5%;
  }
  
  .lista {
    list-style-type: none;
    display: flex;
  }
  
  .lista li a {
    padding: 5px;
  }
  
  header nav li {
    margin: 0px 5px;
  }
  
  div.burger-menu i {
    background-color: grey;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    height: 40px;
  
    padding: 10px;
    width: 40px;
  }
  .burger-menu {
    text-align: center;
  }
  
  
  /*HEADER*/
  
  .banner img {
    width: 100%;
  }
  .frase {
    font-family: "Allura", cursive;
    color: #3d0704;
    text-align: center;
    margin: 20px;
  }
 .imagen-viñedo {
     width: 100%;
 }
 .imagen-bodega{
     width: 100%;
 }
 .vinedos, .historia, .bodega {
     padding: 30px;
     text-align: center;
 }
 .parrafo-bodega {
   padding-bottom: 50px;
   
 }
 .parrafo-vinedo {
   padding-bottom: 50px;
   
 }

 
  

  
  /*FOOTER*/
  
  footer {
    background-color: #3d0704;
    padding: 5px;
  }
  .newsletter {
    text-align: center;
    display: none;
    color: #fff;
  }
  
  h4 {
    font-weight: 600;
  }
  
  .pie-pagina {
    flex-wrap: nowrap;
    display: flex;
  }
  footer ul li a {
    text-decoration: none;
    padding: 1px;
  }
  footer nav li {
    margin: 0px 5px;
  }
  
  .div-logo-footer {
    width: 10%;
  }
  
  .logo-footer {
    width: 50%;
  }
  .footer-flex {
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding: 5px;
  }
  .nav-explorer-footer {
    display: none;
    align-self: flex-end;
    margin-bottom: 10px;
    margin-left: 35%;
  }
  
  .nav-explorer-footer a,
  .nav-utility-footer a {
    text-decoration: none;
    color: #fff;
  }
  
  .nav-utility-footer {
    align-self: flex-end;
    margin-bottom: 10px;
  }
  
  /*FOOTER*/
  
  @media (min-width: 869px) {
    .nav-explorer-header {
      display: block;
    }
    .nav-explorer-footer {
      display: block;
    }
    .burger-menu {
      display: none;
    }
    .newsletter {
      display: block;
    }
    .productos {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
    }
    .vinos {
      width: 30%;
      margin: 10px;
    }
   
  }
  