<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Digital Wines - Inicio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="/css/styles-productCart.css"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link href="/css/normalize.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/86df6f0eff.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <%- include ("../partials/header") %>
    <main>
      <section class="cart">
        <h1 class="tu-carrito">TU CARRITO</h1>
        <hr />
        <section class="bandeja">
          <article class="item-carrito">
            <div class="imagen-item">
              <img src="/img/wine-bottle.png" alt="Vino tanto" />
            </div>
            <div class="item">
              <div class="item-name">
                <h4>Nombre de producto</h4>
                <a href="#"><i class="fas fa-times"></i></a>
              </div>
              <p>
                <a href="#"><i class="fas fa-plus"></i></a
                ><a href="#"><i class="fas fa-minus"></i></a> 06
              </p>
              <p>$9,999</p>
            </div>
          </article>
        </section>
        <hr />
        <div class="total">
          <h1>TOTAL:</h1>
          <h1>$9,999</h1>
        </div>
        <div class="botonera">
          <button type="button"><strong>Finalizar compra</strong></button>
          <button type="button"><strong>Seguir comprando</strong></button>
        </div>
      </section>
    </main>
    <%- include ("../partials/footer") %>
  </body>
</html>
